@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

.product-image {
  width: 300px;
  margin-top: 20px;
  float: right;
  img {
    width: 100%;
  }
}

body {
  background-image: url("http://voices.nationalgeographic.com/files/2015/06/IMG_3562.jpg");
  background-size: cover;
  background-repeat: repeat;
}

h1, h2 {
  color: white;
}

.well {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
}
